{% extends 'Success/base.html' %}
{% load static%} 


{% block content %} 

<title>Django Login</title>



<main role="main" class="container">
  <div style="margin-top: 300px;" class="jumbotron">
    <h1>{{title}}</h1>
    <h1>Django Registration Redux</h1>
    <p class="lead">Building Innovative Systems with Easy Integration.</p>
    <h2>Django registration redux, a simple but extensible application providing user registration functionality for Django powered websites</h2>
    <a class="btn btn-lg btn-primary" href="/" role="button">Keep Scrolling to Enjoy;</a>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>

<main role="main">
  <div style="margin-top: 3px;" class="jumbotron">
    <h1>{{title}}</h1>
    <h1>InterIntel</h1>
    <a class="btn btn-lg btn-primary" href="" role="button">View navbar docs &raquo;</a>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>

<main role="main" class="container">
  <div style="margin-top: 300px;" class="jumbotron">
    <h1>{{title}}</h1>
    <h1>InterIntel</h1>
    <p class="lead">Building Innovative Systems with Easy Integration.</p>
    <a class="btn btn-lg btn-primary" href="/" role="button">Keep Scrolling to Enjoy;</a>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>


{%endblock%}